body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

body::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

.waves {
  display: grid;
}

.waves > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.showcase {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.showcase .text {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute !important;
  top: calc(10vh + 150px);
  left: 0;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.showcase .text *:not(.divhor) {
  margin: 0px !important;
  padding: 0px !important;
}

#hotimg {
  position: absolute;
  top: calc(10vh);
  right: 0;
  margin-top: 7vh;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 20px;
  width: 35vw;
  height: auto;
  border-radius: 1rem;
  align-items: center;
  vertical-align: middle;
  -webkit-box-shadow: 0px 10px 76px 0px rgba(0,21,161,1);
  -moz-box-shadow: 0px 10px 76px 0px rgba(0,21,161,1);
  box-shadow: 0px 10px 76px 0px rgba(0,21,161,1);
}

#nav {
  flex-wrap: nowrap;
  white-space: nowrap;
  line-break: normal;
  display: flex;
  flex-direction: column;
  max-height: calc(10vh + 10px);
  text-align: left;
  justify-content: left;
  align-items: flex-start;
  flex: 0 1 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(10vh + 10px);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 65px 0px rgba(200,200,200,0.75);
  -moz-box-shadow: 0px 5px 65px 0px rgba(200,200,200,0.75);
  box-shadow: 0px 5px 65px 0px rgba(200,200,200,0.75);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#nav * {
  display: inline-flex;
  word-break: keep-all;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex: 0 1 auto;
  max-height: 10vh !important;
}

.navitem {
  box-sizing: border-box;
  padding: 5px;
  white-space: nowrap;
  display: inline-flex;
  flex: 0 1 auto;
  flex-direction: row;
  margin: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.divert {
  height: 70%;
  width: 3px;
  background-color: black;
  border-radius: 2rem;
  margin: 10px;
}

.divhor {
  width: 60%;
  height: 4px;
  background-color: white;
  border-radius: 2rem;
  margin: 10px !important;
}

.divhor.dark {
  width: 60%;
  height: 4px;
  background-color: black;
  border-radius: 2rem;
  margin: 10px !important;
}

.navicons {
  position: fixed;
  top: 0;
  right: 0;
  flex: 1 !important;
  float: right;
  display: inline-flex;
  flex-direction: row;
  text-align: right;
  justify-content: right;
  align-items: center;
  vertical-align: middle;
  height: calc(10vh + 10px) !important;
  margin: 0px;
  padding: 0px;
}

.navicons * {
  text-decoration: none;
  color: black;
  font-size: 4vh;
  vertical-align: middle;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.flitem {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  width: 100%;
}

.flitem .first {
  display: flex;
  width: 40vw;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flitem .last {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flitem .last * {
  margin: 0px;
  padding: 0px;
}

.griddo {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.griddo > * {
  grid-column: 1;
  grid-row: 1;
  margin: 0px;
  padding: 0px;
  gap: 0px;
  color: white;
  font-size: 50px;
  width: 30vw;
}
