body * {
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  align-self: center;
}

p {
  font-size: 12px !important;
}

h4 {
  font-size: 18px !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: linear-gradient(10deg, turquoise, blue, teal, indigo, teal, blue, turquoise);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(20%);
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

#poopie {
  background: rgba(0, 0, 0, 0.2);
  padding: 15px !important;
  border-radius: 1rem;
}

body::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

#otherInfo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

#portal {
  border: 0px solid blue;
  border-radius: 50%;
  scale: 0.8;
}

a {
  text-decoration: none;
  color: #0084ff;
}
.buttons {
  display: flex;
  gap: 10px;
  margin: 0 1rem;
  user-select: none;
  flex-wrap: wrap;
}

.button {
  background: var(--theme);
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  color: var(--text-secondary);
  border: 0;
}
#gs {
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.zoom {
  -webkit-animation: scale-down-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.zoom:hover {
  text-decoration: none;
  -webkit-animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
